@import '/app/styles/variables.module.scss';

.container {
	background-image: url('/graphics/hero/hero1A.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	min-block-size: 50svh;
	place-content: center;
	text-align: center;
}

.overlay {
	// mix-blend-mode: multiply;
	// border-image:
	// 	linear-gradient(
	// 		hsla(196, 100%, 18%, 0.50),
	// 		hsla(37, 59%, 23%, 0.50)) 
	// 	fill 1;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	color: white;
}

.title {
	font-weight: bold;
	font-size: 3.8rem;
	color: white;

	&:nth-child(2) {
		transform: translateX(0.3em) translateY(-0.5em);
	}
}