@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/app/styles/variables.module.scss';

body {
  background-color: $body-bgcolor;
  color: $body-font-color;
  font-size: $body-font-size;
  margin: $body-margin;
  padding: $body-padding;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
