@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/app/styles/variables.module.scss';

.MAIN_LAYOUT_CONTENT {
  // border: 5px solid blue;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: $body-bgcolor;
  color: $body-font-color;
  font-size: $body-font-size;
  margin: $body-margin;
  padding: $body-padding;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}