@import '/app/styles/variables.module.scss';

.hero {
	background-size: cover;
	background-repeat: no-repeat;

	min-block-size: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.overlay {
	border-image:
		linear-gradient(
			hsla(0, 55%, 10%, 0.9),
			hsla(0, 55%, 10%, 0.9),
		)
		fill 1;
}

.title {
	// border: 1px dashed purple;
	font-weight: bold;
	color: $svc-card-title-color;
	font-size: 2.2rem;
	text-align: center;
	width: 100%;
}

.description {
	// border: 1px dashed orange;
	color: white;
	font-size: 1.1rem;
	max-width: 600px;
	margin: 0 auto;
	padding: 0.5em 1em;
}

.ctaLink {
	// border: 1px dashed cyan;
	background-color: rgba(15, 12, 12, 0.9);
	padding: 0.8em 1.5em;
	border-radius: 10px;
	font-weight: bold;
	color: white;
	transition: all 0.25s ease-in-out;

	&:hover {
		background-color: rgba(126, 22, 22, 0.75);
		transition: all 0.25s ease-in-out;
	}
}

.ctaContainer {
	// border: 5px solid cyan;
	margin: 1em 0;
}

// SERVICE TYPE CLASS NAME PASSED AS PROP
.svc-stump {
	border-image:
		linear-gradient(
			hsla(0, 55%, 10%, 0.90),
			hsla(0, 55%, 10%, 0.90),
		)
		fill 1;
		// Background image
		background-image: url("/images/services/stump/stump-d81.jpg");
		background-position: center;
}

.svc-dirt {
	// Background overlay color
	border-image:
	linear-gradient(
		hsla(35, 48%, 13%, 0.90),
		hsla(35, 48%, 13%, 0.90),
	)
	fill 1;
	// Background image
	background-image: url("/images/services/dirtwork/dirtwork-j381u.jpg");
	background-position: center;
}

.svc-land {
	// Background overlay color
	border-image:
	linear-gradient(
		hsla(90, 19%, 11%, 0.90),
		hsla(90, 19%, 11%, 0.90),
	)
	fill 1;
	// Background image
	background-image: url("/images/services/land/land-i381u.jpg");
	background-position: center;
}

.svc-gravel {
	// Background overlay color
	border-image:
	linear-gradient(
		hsla(240, 33%, 14%, 0.90),
		hsla(240, 33%, 14%, 0.90),
	)
	fill 1;
	// Background image
	background-image: url("/images/services/gravel/gravel-k3401.jpg");
	background-position: center;
}

// MEDIA QUERIES 

@media screen and (min-width: 768px) {
	.title {
		font-size: 4rem;
	}
	.description {
		font-size: 1.6rem;
		max-width: 780px;
	}
}