@import '/app/styles/variables.module.scss';

.container {
	background-image: url('/graphics/grass-texture_desat.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
}

.overlay {
	border-image:
		linear-gradient(
			hsla(29, 45%, 21%, 0.90),
			hsla(29, 45%, 21%, 0.90)) 
		fill 1;
	
}