@import '/app/styles/variables.module.scss';

.container {
	background-image: url('/images/services/dirtwork/dirtwork-dgd13.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 4em 0;
}

.overlay {
	border-image:
		linear-gradient(
			$page-bgcolor,
			$page-bgcolor)
		fill 1;
}