@import '/app/styles/variables.module.scss';

.linksContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-image: url('/graphics/nav/seamless-wood4.png');
	background-repeat: repeat-x;
	background-size: cover;
	width: 100%;

	color: $nav-link-color;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

.linkWrapper {
	// border: 2px dashed cyan;
	width: 100%;
	transition: all 0.25s ease-in-out;
	padding: 1em;

	&:hover {
		background-color: hsla(37, 100%, 81%, 0.1);
		transition: all 0.25s ease-in-out;
		color: white;
	}
}

.activeLink {
	background-color: hsla(33, 53%, 3%, 0.5);
}

@media screen and (min-width: 768px) {
	.linksContainer {
		font-size: 1.2rem;
	}
}